<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="header" class="bookend">
  <div class="header-brand">
    <img class="logo" th:src="@{/img/MyWish-Logo.png}" alt="MyWish Logo"/>
  </div>
  <nav class="main-nav">
    <a href="Home"    class="nav-link">Home</a>
    <a href="Login"   class="nav-link"        th:unless="${isLoggedIn}">Login</a>
    <a href="Logout"  class="nav-link"        th:if=    "${isLoggedIn}">Log Out</a>
    <a href="Profile" class="nav-link active" th:if=    "${isLoggedIn}">My Profile</a>
    <a href="AboutUs" class="nav-link">About Us</a>
  </nav>
</div>

<div th:fragment="footer" class="bookend">
  <p class="copyright">© 2025 MyWish</p>
  <div>
    <p>📞 <a href="tel:+4512345678">12 34 56 78</a></p>
    <p>✉️ <a href="mailto:mywish@gmail.com">mywish@gmail.com</a></p>
  </div>
</div>

</html>