<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyWish</title>
  <link rel="stylesheet" th:href="@{style.css}">
</head>
<body>
<div class="container">
  <header th:insert="~{fragments :: header}"></header>

  <main>
    <div class="wishlist-container">
      <div class="wishlist-content">
        <div>
          <h2 class="section-title">Welcome to MyWish</h2>
          <p class="about-text">
            Creating and sharing your wishlist has never been easier! At MyWish, we offer a streamlined,
            user-friendly platform where you can effortlessly create, manage, and share your
            personal wishlist with your friends and family.
          </p>
        </div>

        <div>
          <h2 class="section-title">Why Choose Us?</h2>
          <p>
            <span>&nbsp;&nbsp;✔&nbsp;&nbsp;<strong>Simple & Private</strong> – No unnecessary features, just a clean and intuitive way to build your wishlist.</span><br>
            <span>&nbsp;&nbsp;✔&nbsp;&nbsp;<strong>Easy Sharing</strong> – Send a direct link to friends and family — no accounts required for them to view it.</span><br>
            <span>&nbsp;&nbsp;✔&nbsp;&nbsp;<strong>Full Control</strong> – Create, update, or delete your wishes and wishlists anytime.</span><br>
            <span>&nbsp;&nbsp;✔&nbsp;&nbsp;<strong>No Payments, No Clutter</strong> – Focused purely on adding wishes to a wishlist.</span>
          </p>
        </div>

        <div>
          <h2 class="section-title">Create an Account</h2>
          <p>Ready to start building your personal wishlist? Create your free account now by clicking below!</p>
          <form th:action="@{/Login}" method="get" style="text-align: center">
            <input type="submit" value="Register"/>
          </form>
        </div>
      </div>

      <div class="sidebar">
        <div class="sidebar-card ad-container">
          <div class="ad-content">
            <p>Premium Features?</p>
            <p></p>
            <p>marketing?</p>
          </div>
        </div>
      </div>

    </div>
  </main>

  <footer th:insert="~{fragments :: footer}"></footer>
</div>
</body>
</html>