<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<nav class="main-nav">
  <a href="" class="nav-link active">Home</a>
  <a href="Profile" class="nav-link">My Profile</a>
  <a href="AboutUs" class="nav-link">About us</a>
</nav>
<body>
<div>
  <nav class="main-nav">
    <a href="" class="nav-link active" target="main-frame">Home</a>
    <a href="Profile" class="nav-link" target="main-frame">My profile</a>
    <a href="AboutUs" class="nav-link" target="main-frame">About us</a>
    <a href="Login" class="nav-link" target="main-frame">Log in</a>
  </nav>
</div>
<div>
  <iframe name="main-frame" class="iFrame" src="html/HomePage.html"></iframe>
</div>

</body>
</html>