<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<nav class="main-nav">
  <a href="" class="nav-link active">Home</a>
  <a href="Profile" class="nav-link">My Profile</a>
  <a href="AboutUs" class="nav-link">About us</a>
</nav>
<body>
<div>
  <nav class="main-nav">
    <a href="html/HomePage.html" class="nav-link active" target="main-frame">Home</a>
    <a href="html/Profile.html" class="nav-link" target="main-frame">My Profile</a>
    <a href="html/AboutUs.html" class="nav-link" target="main-frame">About us</a>
    <a href="html/myprofile" class="nav-link" target="main-frame">?????</a>
  </nav>
</div>
<div>
  <iframe name="main-frame" class="iFrame" src="html/HomePage.html"></iframe>
</div>

</body>
</html>