<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{style.css}">
</head>
<body>
<header class="app-header">
    <h1 class="app-title">MyWish</h1>
    <img class="Logo" src="img/MyWish-Logo.png"/>
    <nav class="main-nav">
        <a href=""          class="nav-link active">Home</a>

        <a href="Login"     class="nav-link" th:unless="${isLoggedIn }">Login</a>
        <a href="Profile"     class="nav-link" th:if="${isLoggedIn}">My Profile</a>
        <a href="AboutUs"   class="nav-link">About Us</a>
    </nav>
</header>
<div th:unless="${isUser}">
    <h1 th:text="${wish.id}"></h1>
    <h1 th:text="${wish.title}"></h1>
    <h1 th:text="${wish.description}"></h1>
    <h1 th:text="${wish.link}"></h1>
    <img th:src="${wish.image}" alt="picture not found">
    <h1 th:text="${wish.price}"></h1>
</div>
<div th:if="${isUser}">
    <form th:action="@{/editWishInWishList}" th:method="get">
        <input hidden type="number" name="listId" th:value="${listId}"  />
        <input hidden type="number" name="wishId" th:value="${wish.id}"  />
        <div class="form-group">
            <label for="title">Wish Title:</label>
            <input type="text" id="title" name="title" required>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" id="description" name="description" required>
        </div>
        <div class="form-group">
            <label for="price">Price:</label>
            <input type="number" id="price" name="price" step="0.01" required>
        </div>
        <div class="form-group">
            <label for="link">Link:</label>
            <input type="url" id="link" name="link">
        </div>
        <div class="form-group">
            <label for="img">Image URL:</label>
            <input type="url" id="img" name="img" >
        </div>
        <div class="form-group">
            <button type="submit">Add Wish</button>
        </div>
    </form>
</div>

</body>
</html>